[submodule "src/package/mimilib"]
	path = src/package/mimilib
	url = https://github.com/mimilib/mimilib
[submodule "mimiproject"]
	path = mimiproject
	url = https://github.com/mimilib/mimiproject
[submodule "src/package/googletest"]
	path = src/package/googletest
	url = https://github.com/google/googletest
